.git
.github
.venv
.singularity
.pytest_cache
.cache
.mypy_cache
.ruff_cache
__pycache__
*.py[cod]
*.so

outputs
results
data
decoded_data
focused_data
compressed_data
decompressed_data
grid

docs/_site
.ipynb_checkpoints
notebooks
tutorials
ppt

dist
build
*.egg-info
sarpyx.sif
